* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
}

:root {
	--background: black;
	--background-alt: rgb(210, 240, 225);
	--text: rgb(190, 190, 190);
	--text-alt: rgb(240, 240, 240);
	--radius: 25px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background-alt);
}

.box {
	color: var(--text-alt);
	border-radius: var(--radius);
	background-color: var(--background);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.hidden {
	opacity: 0;
}

#last.hidden {
	transform: scale(0.85) translateX(40px);
}

#current.hidden {
	transform: scale(0.65) translateY(-25px);
}

#calculator {
	padding: 24px;
	margin: 80px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-wrap: break-word;
}

#display {
	width: 100%;
	padding: 10px 25px 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
}

#display #last {
	min-height: 33px;
	width: fit-content;
	max-width: 238px;
	margin: 0 1px 6px;
	font-size: 22px;
	color: rgb(180, 210, 205);
	transition: all 0.4s ease;
}

#display #current {
	width: fit-content;
	max-width: 238px;
	font-size: 28px;
	color: white;
	transform-origin: top right;
	transition: all 0.5s ease;
}

#buttons {
	display: grid;
	grid: repeat(5, 72px) / repeat(4, 72px);
}

.button {
	margin: 7px;
	font-size: 22px;
	font-weight: 600;
	cursor: pointer;
	color: var(--text-alt);
	border-radius: 30px;
	background-color: transparent;
	transition: background-color 0.2s ease, transform 0.2s ease;
}

.button > span {
	vertical-align: sub;
}

.button[id="plus-minus"] {
	font-size: 20px;
}

.button[data-operator],
.button[id] {
	color: rgb(0, 255, 135);
}

.button[id="operate"]{
	background-color: rgb(0, 255, 135);
	color: var(--background);
}

.button:hover,
.button:active {
	background-color: rgba(150, 255, 200, 0.125);
}

.button[id="operate"]:hover {
	background-color: rgb(0, 255, 135);
	transform: scale(1.1);
}

.button[id="operate"]:active {
	background-color: rgb(0, 255, 135);
}

.button:active {
	transform: scale(0.875);
}

.button[id="operate"]:active {
	transform: scale(0.95);
}

#github {
	padding: 10px 20px;
	margin: 10px 0 30px;
	text-decoration: none;
	transition: transform 0.2s ease;
}

#github img {
	height: 25px;
	margin-left: 10px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	filter: invert(.95);
}

#github:hover {
	transform: scale(1.1);
}
